@tailwind base;
@tailwind components;
@tailwind utilities;

.rsc-content {
    height: calc(100vh - 220px) !important;
}

.rsc-footer {
    border-radius: 20px !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
    background: white !important;
}

.rsc-ts-bot .rsc-ts-bubble {
    background: #151515 !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 0%) !important;
}

.rsc-ts-user .rsc-ts-bubble {
    background: #ff5e5e !important;
    color: #ffffff !important;
    font-weight: 500 !important;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 0%) !important;
}

.rsc-os-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px !important;
}

/* Yes button  */
.rsc-os-option:nth-child(1) .rsc-os-option-element {
    margin-right: 5px;
    background: #ffffff !important;
    color: #151515 !important;
    padding: 16px !important;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 5%) !important;
    border-radius: 12px !important;
    border: black 1px dashed;
}

/* No button  */
.rsc-os-option:nth-child(2) .rsc-os-option-element {
    margin-right: 5px;
    background: #ffffff !important;
    color: #151515 !important;
    padding: 16px !important;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 5%) !important;
    border-radius: 12px !important;
    border: black 1px dashed;
}