@tailwind base;
@tailwind components;
@tailwind utilities;

.rsc-ts-bot .rsc-ts-bubble {
    background: #E6E6FA !important;
    color: #2a0133 !important;
    font-weight: 500 !important;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 0%) !important;
}

.rsc-ts-user .rsc-ts-bubble {
    background: #fafae6 !important;
    color: #332f01 !important;
    font-weight: 500 !important;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 0%) !important;
}